-e .[dev,release]

##  What follows was commented out 2026-09-22. -DWB

#numpy
#scipy
#scikit-learn
#matplotlib
#soundfile

#pytest
#ruff

#bump-my-version

#ipykernel
#jupyter
#jupyterlab
#nbformat
#nbconvert[webpdf]
